:root {
  --accent-cl: #fe5f1e;

  /* TEXT COLORS */
  --primary-txt-cl: #2c2c2c;
  --secondary-txt-cl: #000000;

  /* BACKGROUND COLORS */
  --accent-bg: #fff;
  --primary-bg: #fff;
  --secondary-bg: #fff;

  /* FONTS */
  --main-font: "Plus Jakarta Sans", sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.3s;
  --slow: 0.5s;
}
